@import "ex_bootstrap.css";
body {
  background-image: url("/images/access.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; /* Современные браузеры */
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */

}
button.delete {
  border: 0;
  outline: 0 !important;
}
button.changePswrd {
  border: 0;
  outline: 0 !important;
}
th.text-header {
  font-size: 14px;
  color: #3ca4ff;
}

button.delete::-moz-focus-inner {
  border: 0;
}
button.changePswrd::-moz-focus-inner {
  border: 0;
}
.fa-save {
  color: #00aecd;
}
button.save-accecc-btn {
  background-color: #0d3349;
  color: #0ff;
  border: 2px solid #00b0e8;
  border-radius: 10px;
}
div.tmetric-access {
}
form.form-access {
}


