html,
body {
  background-image: url("/images/access.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; /* Современные браузеры */
  /*background-size: cover;*/
  /*-webkit-overflow-scrolling: touch;*/
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  padding-top: 40px;
}
.main-text {
}
input.newPassword {
}
button.changePassw {
}
div.access{
}