@import "ex_bootstrap.css";
body {
}
.chartjs-size-monitor{
}
.chartjs-render-monitor{
}
.pie{
}
.task-description {
}
td.task-tag {
}
u.select-user {
    display: inline-block;
}
form.user-filter {
    /*!*width: max-content;*/
}
div.filter-options {
}
div.date-filter {
}
div.select-users {
    padding: 0.3%;
}

div.tasks-border {
    border: 3px solid #5c2108;
}

div.tasks {
}
button.btn-accept {
    font-weight: bold;
    color: greenyellow;
    background-color: black;
    border: 3px solid lightskyblue;
}
button.btn-accept:hover {
    background-color: rgba(16,19,19,0.84);

}
b.alert {
}