html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  border: 2px solid #0056b3;
  border-radius: 20px;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
li {
  margin: 1px 1px 10px 0;
  display: inline-block;
}
.top-btn-enter {
  margin-right: 10%;
}
button.active {
  width: 110px;
  color: #fbf1a9;
  border: 3px dodgerblue solid;
  border-radius: 20%;
  background: #34495e;
  font-weight: bold;
}
button.passive {
  width: 110px;
  color: #fbf1a9;
  border: 3px dodgerblue solid;
  border-radius: 20%;
  background: lightslategray;
  font-weight: bold;
}
.text {
  margin: 2%;
}
h6 {
  color: maroon;
}