.log-out {
}
.user-log-out {
  font-size: 18px;
  font-weight: bold;
  color: #001b44;
  border: 1px solid DodgerBlue;
  background-color: yellow;
  border-radius: 5px;
}

.logout-btn {
}

/* Darker background on mouse-over */
.logout-btn:hover {
}

.tooltip {
}

/* Tooltip text */
.tooltip .tooltiptext {
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
}



