@import "ex_bootstrap.css";
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.tmetric-menu {
}
form.form-menu {
}
button.tmetric-btn {
}
button.tmetric-btn:hover {
  background-color: yellowgreen;
  border: 3px solid yellow;
  border-radius: 10px;
}
button.report-btn {
}
button.report-btn:hover {
  background-color: yellowgreen;
  border: 3px solid yellow;
  border-radius: 10px;
}
button.accecc-btn {
}
button.accecc-btn:hover {
  background-color: yellowgreen;
  border: 3px solid yellow;
  border-radius: 10px;
}

.fa-business-time {
  color: #1e472c;
}
.fa-chart-bar {
  color: #2a6ed7;
}
.fa-universal-access {
  color: darkred;
}
.tmetric-nav {
  background-color: rgba(0, 0, 0, 0.7);
}