body {
  background-image: url("/images/unnamed.jpg");
  -webkit-overflow-scrolling: touch;
}
body fieldset {
  width: 625px;
  background-color: #34495e;
  color: yellow;
  opacity: 90%;
  font-size: 14px;
  margin: 10px;
}
form.times {
}
.save-times {
  background-color: #001b44;
  color: #fbf1a9;
}
.allert-file {
  font-size: 16px;
  color: lightcoral;
  font-weight: bold;
}
.allert-project {
  font-size: 16px;
  color: lightcoral;
  font-weight: bold;
}
.allert-user {
  font-size: 16px;
  color: lightcoral;
  font-weight: bold;
}
.board {
  border: 3px solid yellow;
}
input.duration {
  color: maroon;
}
input.time {
  color: black;
}
p.checkbox {
}
/*=======================*/
/*UPLOAD*/
/*=======================*/
.upload-file-form {
}
.upload-form-text {
  color: #7fffd4;
}
.choose-jira-btn {
}
.choose-file-btn {
}
.parse-file-btn {
}
.message {
  background: black;
  color: lightcoral;
  font-size: 16px;
  font-weight: bold;
}
.message-file {
  background: black;
  color: lightcoral;
  font-size: 16px;
  font-weight: bold;
}
p.selection-projects {
}
p.selection-users {
}
.red {
  color: lightcoral;
}
