<!DOCTYPE html>
<html lang="en">

{# include "menu.html.twig" #}
{% include "menu.html.twig" %}

<head>
	<title>Access</title>
	<meta charset="UTF-8">
	<!--        include mobile view-->
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--        include styles-->
	<link rel="stylesheet" href="/css/access.css">
</head>

<body>

<section class="c">
	<div class="container-fluid">
		<div class="row justify-content-center pt-5">
			<form method='post'
			      class='form-access'
			      name='form-access'>
				<table class="table table-info">
					<thead class="table-dark ">
					<tr>
						<th scope="col" class="border border-info rounded w-25">
							User Email
						</th>
						<th scope="col" class="border border-info rounded">
							Status
						</th>
						<th scope="col"
						    class="border border-right-0 border-info ">
							Action
						</th>
						<th scope="col"
						    class="border border-left-0 border-info "></th>
					</tr>
					</thead>
					<tbody>

					{% for item in access_Sql %}

						{% set mysql_num = item.0 %}
						{% set mysql_email = item.1 %}
						{% set mysql_access = item.3 %}

						{% if mysql_access == 1 %}
							{% set checkbox %}

								<input type='checkbox'
								       name='access_{{ mysql_num }}'
								       checked='checked'/>

							{% endset %}
						{% else %}
							{% set checkbox %}

								<input type='checkbox'
								       name='access_{{ mysql_num }}'/>

							{% endset %}
						{% endif %}

						<tr>
							<th scope="row"
							    class="border border-dark rounded w-50">
								<input type='text' value='{{ mysql_email }}'
								       name='user_{{ mysql_num }}' class="w-75">
							</th>
							<td class="border border-dark rounded p-4">{{ checkbox }}</td>
							<td class="border border-dark rounded w-25">
								<button name='changePswrd_{{ mysql_num }}'
								        class='changePswrd bg-transparent text-primary'
								        id='changePswrd'>
									<u>change password</u>
								</button>
							</td>
							<td class="border border-dark rounded">
								<button name='delete_{{ mysql_num }}'
								        class='delete bg-transparent text-danger'>
									<u>delete</u>
								</button>
							</td>
						</tr>

					{% endfor %}

					<tr>
						<td colspan="4" class="table-dark rounded"></td>
					</tr>

					</tbody>
				</table>
				<button
						class="save-accecc-btn col-4"
						name='save-accecc-btn'>
					<i class='fas fa-save fa-2x'></i> Save
				</button>

			</form>
		</div>
	</div>
</section>

</body>
</html>