<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Change password</title>
    <link rel="stylesheet" href="../css/change_password.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/js/fontawesome.min.js">
    <!--    include bootstrap-->
    <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

{% include('menu.html.twig') %}

<div class='access'>
<div class="container border border-info rounded text-center"
     style="max-width: 330px">

    <span
            class='main-text text-danger p-1'
            style="font-size: 90%">Change password for:
    </span>

        <form name='changePassword'
              method='post'
              class="p-3 form-signin">

            <div class="form-group">
                <label for="newPassword"
                       class='main-text text-danger'
                       style="font-size: 1rem">{{cookie['changeFor']}}
                </label>
                <input type="password"
                       class="newPassword form-control text-dark mt-2"
                       name='newPassword'
                       id="newPassword"
                       placeholder='*******'>
                <br>
            </div>

            <button
                    name='changePassw'
                    class='changePassw btn btn-info btn-lg'>change
            </button>
        </form>
</div>
</div>
</body>

</html>