<!DOCTYPE html>
<html lang="en">

{% include "menu.html.twig" %}

<head>
    <title>Chart</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <!--    view for mobile-->
        <meta name="viewport"
              content="width=device-width,initial-scale=1,maximum-scale=1">
        <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
        <title>Report</title>
        <link rel="stylesheet" type="text/css" href="/css/chart.css">
        <!--    include php time library-->
        <script type="text/javascript" src="/js/moment.js"></script>
        <!--    include chart.js-->
        <script type="text/javascript"
                src="/js/chartjs-master/dist/Chart.min.js"></script>
        <script type="text/javascript"
                src="/js/chartjs-master/dist/chartjs-plugin-datalabels.min.js"></script>
</head>

<body>

{# Canvas for Pie.js #}
<div class="container">
    <div class="row">
        <canvas id="chartjs-doughnut">
        </canvas>
    </div>
</div>

{#Entering filter form.#}
{% if post.filter is not defined %}
    {{ tmetric_filter("") }}

{% elseif post.filter is defined %}
    {{ tmetric_filter("") }}

{% endif %}

<section class="table-tasks">
    <div class="container-fluid">
        <div class="row justify-content-center pr-sm-1 pl-sm-1 pr-xl-5
        pl-xl-5">
            <table class="table table-info">
                <thead class="table-dark">
                <tr>
                    <th scope="col" class="border border-info
                    rounded">Description</th>
                    <th scope="col" class="border border-info
                    rounded">tag\time</th>
                </tr>
                </thead>
                <tbody class="align-items-center">

        {% if selectedUSer and cookieSelectUser is defined %}
            {% set timeElem = 0 %}
            {% set unfindUser = 0 %}
            {% set yes = 0 %}
            {% set no = 0 %}

            {% for key, task in getTimeEntriesReport %}
                {% set taskUser = task.user %}

                {% if taskUser == selectedUSer %}
                    {% set userTasks = [] %}
                    {% set userTasks = userTasks|merge(task) %}
                    {% set userDuration = task.duration %}

                    {% if task['tags']['0'] is defined %}
                        {% set tag = task['tags'][0] %}
                    {% else %}
                        {% set tag = 'UNDEFINED!' %}
                    {% endif %}

                    {% if task['project'] is defined %}
                        {% set projectNamesArray = [] %}
                        {% set projectNamesArray = projectNamesArray|merge([task
                        .project|e]) %}
                        {% set yes = yes + 1 %}
                    {% else %}
                        {% set no = no + 1 %}
                        {% set task = 'project' ~ 'UNDEFINED!' %}
                        {% set projectNamesArray = [] %}
                        {% set projectNamesArray = projectNamesArray|merge
                            (['UNDEFINED!']) %}
                    {% endif %}

                        {% set projectTagsArray = [] %}
                        {% set projectTagsArray = projectTagsArray|merge([tag|e]) %}
                        {% set taskMinutes = [] %}
                        {% set duration = task['duration']/1000/60|round(2,
                            'floor') %}
                        {% set taskMinutes = taskMinutes|merge([duration|e]) %}
                        {% set taskDurationsVariables = getDurations(taskMinutes) %}
                        {% set tagDuration =
                            taskDurationsVariables['taskDurationsString'][0] %}

                    <tr class="mr-2 ml-2" >
                        <td id='{{ task['project'] }}' class='task-description
                         text-left col-6 p-0 border border-dark rounded'>{{ task['description'] }}
                        </td>
                        <td id='{{ tag }}'
                              class='task-tag text-center col-6 p-0 border
                              border-dark rounded'>{{ tag }}({{
                            tagDuration }})
                        </td>
                    </tr>

                {% else %}
                    {% set unfindUser = unfindUser + 1 %}
                    {% if unfindUser == getTimeEntriesReport|length %}
                            <span class='alert font-weight-bold text-danger
                            text-center'>This user hasn`t tasks yet!!!</span>
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% else %}

            {% if getTimeEntriesReport is empty or getTimeEntriesReport is
                not defined %}

                <div class="row">
                    <div class="col-12">
                    <span class='alert font-weight-bold text-danger
                            text-center'>There are no data in this
                        time!!!</span>
                    </div>
                </div>

            {% else %}

                {% set timeCircle = 0 %}

                {% for key, task in getTimeEntriesReport %}

                    {% if task['tags']['0'] is defined %}
                        {% set tag = task['tags'][0] %}
                    {% else %}
                        {% set tag = 'UNDEFINED!' %}
                    {% endif %}
                    {% if task['project'] is defined %}
                        {% set projectNamesArray = [] %}
                        {% set projectNamesArray = projectNamesArray|merge
                            ([task .project|e]) %}
                        {% set yes = yes + 1 %}
                    {% else %}
                        {% set no = no + 1 %}
                        {% set task = 'project' ~ 'UNDEFINED!' %}
                        {% set projectNamesArray = [] %}
                        {% set projectNamesArray = projectNamesArray|merge
                            (['UNDEFINED!'|e]) %}
                    {% endif %}

                    {% set projectTagsArray = [] %}
                    {% set projectTagsArray = projectTagsArray|merge([tag|e]) %}
                    {% set taskMinutes = [] %}
                    {% set duration = task['duration']/1000/60|round(2,
                        'floor') %}
                    {% set taskMinutes = taskMinutes|merge([duration|e]) %}
                    {% set taskDurationsVariables = getDurations(taskMinutes) %}
                    {% set tagDuration =
                        taskDurationsVariables['taskDurationsString'][0] %}

                    <tr class="mr-2 ml-2">
                    <td id='{{ task['project'] }}'
                       class='task-description text-left col-6 p-0 border border-dark rounded'>
                        {{ task['description'] }}
                    </td>
                    <td id='{{ tag }}'
                       class='task-tag text-center col-2 p-0 border
                              border-dark rounded'> {{ tag }} ( {{
                        tagDuration }} )
                    </td>
                    </tr>

                {% endfor %}

            {% endif %}
        {% endif %}
                </tbody>
                <tr>
                    <td colspan="12" class="table-dark rounded"></td>
                </tr>
            </table>
    </div>
</div>
</section>


</body>
</html>