
{% block log_out_head %}
    <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/logout.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css">
{% endblock log_out_head %}

{% block log_out %}
    <section class="a">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 float-left position-fixed">
                    <form method= 'post' class='log-out' name='log-out' >
                        <label class='user-log-out'>{{activeUser}}</label><br>
                        <button name="logout-btn"
                                class="fas fa-sign-out-alt btn btn-danger
                                text-warning col-4 border-warning">Выход
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock log_out %}
