<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TMetric</title>

    <!--        include bootstrap-->
    <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--        include styles-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!--        include mobile view-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <!--        Login form-->
    <form class="form-signin" method="post">

        {% if post.start-enter is not defined and
        post.start-register is not defined %}

        <li class='top-btn-enter btn btn-sm btn-outline-primary'>
            <button class={{active}} name='start-enter'>
                <span class='text'>вход</span>
            </button>
        </li>
        <li class='top-btn-register btn btn-sm btn-outline-primary'>
            <button class={{passive}} name='start-register'>
                <span class='text'>региcтрация</span>
            </button>
        </li>
        <h6 class="h6 mb-md-3 font-weight-normal">
            <span class='message-login'>

                {# error message #}
                {{message}}

            </span></h6>
        <font color='red'></font>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type='email' class="form-control" id="inputEmail"
        name='access_email' placeholder="Email" />

        <label for="inputPassword" class="sr-only">Password</label>
        <input type='password' class="form-control"
         name='access_password' id="inputPassword" placeholder="Password" />

        <input type='submit' name={{nameEnter}} value={{enterVal}}
        class="btn btn-lg btn-primary btn-block" />

        {% endif %}

    </form>

</body>

</html>
