<head>
	<link rel="stylesheet" type="text/css"
	      href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/logout.css">
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
</head>

<body>
{# block menu #}
<nav class="tmetric-nav navbar navbar-expand-md navbar-dark fixed-top border-bottom border-info">
	{#exit menu#}
	<form name='log-out' class='log-out' method='post'>
		<label for="logout-btn" class='user-log-out'>{{ activeUser }}</label>
		<button name="logout-btn"
		        id="logout-btn"
		        class="fas fa-sign-out-alt btn btn-danger
                                   text-warning border-warning">Выход
		</button>
	</form>
	{#Toggle menu#}
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	        data-target="#navbarCollapse" aria-controls="navbarCollapse"
	        aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	{#Menu#}
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav ml-auto">
			<form name='log-out' class="form-menu form-inline mt-2 mt-md-0"
			      method='post'>
				<li class="nav-item">
					<button class="tmetric-btn mr-2 my-2 my-sm-0"
					        name='tmetric-btn'>
						<i class='fas fa-business-time fa-2x'></i>
						TMetric
					</button>
				</li>
				<li class="nav-item">
					<button class="report-btn  mr-2 my-2 my-sm-0"
					        name='report-btn'>
						<i class='fas fa-chart-bar fa-2x'></i>
						TReport
					</button>
				</li>
				<li class="nav-item">
					<button class="accecc-btn mr-2 my-2 my-sm-0"
					        name='accecc-btn'>
						<i class='fas fa-universal-access fa-2x'></i>
						TAccess
					</button>
				</li>
			</form>
		</ul>
	</div>
</nav>
</body>



