<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--[endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <!--    view for mobile-->
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1">

    <!-- include bootstrap -->
    <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    {# Include user styles #}
    <link rel="stylesheet" type="text/css" href="/css/tmetric.css">
    {# include fontawesome #}
    <link rel="stylesheet" href="/lib/font-awesome/css/fontawesome.min.css">
    <!--    include php time library-->
    <script type="text/javascript" src="/js/moment.js"></script>
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>

<body>

{{ include('menu.html.twig') }}

{% set jira = 'jira.csv' %}
{% set clockify = 'clockify.csv' %}

{# Form for parsing files #}
<div class="mx-auto" style="width: 400px;">
<form method="POST"
      enctype="multipart/form-data"
      class="upload-file-form col-10 badge badge-dark">
    {# Field for upload Jira.csv #}
    <div class="form-row col-12 py-1 px-0">
        <div class="col-5">
            <label for="parsingJira"
                   class="upload-form-text float-left">Upload Jira.csv:
            </label>
        </div>
        <div class="col-7">
            <input type="file"
                   accept=".csv"
                   name="parsingJira"
                   id="parsingJira"
                   class="choose-jira-btn col-12 p-0 float-left text-warning"/>
        </div>
    </div>
    {# Field for upload Clpckify.csv #}
    <div class="form-row col-12 py-1 px-0">
        <div class="col-5">
            <label for="parsingClockify"
                   class="upload-form-text float-left">Upload Clockify.csv:
            </label>
        </div>
        <div class="col-7">
            <input type="file"
                   accept=".csv"
                   name="parsingClockify"
                   id="parsingClockify"
                   class="choose-file-btn col-12 p-0 float-left text-warning"/>
        </div>
    </div>
    {# Button for parsing file #}
    <div class="form-row col-12 py-1 px-0">
        <div class="col-5">
            <label for="parseBtn"
                   class="upload-form-text float-left">Parsing a File:
            </label>
        </div>
        <div class="col-7 ">
            <input type="submit"
                   name="parseBtn"
                   id="parseBtn"
                   value="Parse File"
                   class="parse-file-btn col-5 p-0 float-left "/>
                    <b class="text-success">
                        &nbsp{{newFileName}}
                    </b>
        </div>
    </div>
</form>
</div>

{# Twig logic for outputing parsed data #}
{% if files.parsingJira is defined or files.parsingClockify is defined %}

{% if newFileName == jira or newFileName == clockify %}

<div class="mx-auto" style="width: 625px;">
<form method='post' name='times' class='times was-validated'>
    <button name='save-times'
            class='save-times float-right '>Отправить данные
    </button>

    {% set step = 1 %}
    {# in csvParsedTimes %#}
    {% for key, parsedTask in twigArrays.csvParsedTimes %}
        {% if parsedTask is not empty %}
            {% set csvRow = key + 1 %}

    {# Start enter fieldset #}
    <fieldset class="badge">

        {# CheckBox #}
        <div class="form-row py-1 px-0 mx-0 justify-content-end">
            <div class="col-2 border border-info rounded ">
                    <p id="controls">
                    <input type="checkbox"
                           class=""
                           id="checkbox{{ step }}"
                           name='task[{{ step }}][select-checkbox]'
                           value="option"
                           checked> <span class="p-2"> EXPORT</span>
                    </p>
            </div>
        </div>

        {% set p = 1 %}

        {# Create select with tmetric projects #}
        <div class="form-row py-1 px-0">
            <div class="col-3">
                <p class='selection-projects float-left'>
                    <u>
                        SELECT &nbsp PROJECT
                    </u>
                </p>
            </div>
            <div class="col-3">
                <input list='projects'
                       id='select-project{{ step }}'
                       name='select-project{{ step }}'
                       class='{{ step }}'
                       onchange='changeOptions()'
                       type='text'
                       autocomplete='off'/>
                <datalist id='projects'>
                {% for project in twigArrays.projectsArray %}
                {% set projectName = project['projectName'] %}
                <option name='project{{ p }}'
                        id='project{{ p }}'
                        class='project{{ p }}'>{{ projectName }}
                {% set p = p + 1 %}
                {% endfor %}
                </option>
                </datalist>
            </div>
        </div>

        {# Field start time #}
        <div class="form-row py-1 px-0">
            <div class="col-3">
                <b class="float-left">
                    Row {{csvRow}} => {{parsedTask.startHeadertTitle}} :
                </b>
            </div>
            <div class="col-6">
                <input class='time font-weight-bold text-center'
                       name='task[{{step}}][start-date{{step}}]'
                       id='start-date{{step}}'
                       type='text'
                       readonly
                       value={{ parsedTask.startDate }}>
                <input class='time font-weight-bold text-center'
                       name='task[{{step}}][start-time{{step}}]'
                       id='start-time{{step}}'
                       type='text'
                       readonly
                       value='{{ parsedTask.startTime }}'>
            </div>
        </div>

        {# Field duration #}
        <div class="form-row py-1 px-0 ">
            <div class="col-3">
                <b class="float-left">
                    Row {{csvRow}} => Duration :
                </b>
            </div>
            <div class="col-3">
                <input class='duration font-weight-bold text-center'
                       name='task[{{step}}][duration{{step}}]'
                       id='duration{{step}}'
                       type='text'
                       value={{ parsedTask.duration }}
                       onchange='checkHtmlTime()'>
            </div>
        </div>

        {# Field finish time #}
        <div class="form-row py-1 px-0">
            <div class="col-3">
                <b class="float-left">
                    Row {{csvRow}} => {{parsedTask.endHeaderTitle}} :
                </b>
            </div>
            <div class="col-6">
                <input class='time font-weight-bold text-center'
                       name='task[{{step}}][finish-date{{step}}]'
                       id='finish-date{{step}}'
                       type='text'
                       readonly
                       value={{ parsedTask.endDate }}>
                <input class='time font-weight-bold text-center'
                       name='task[{{step}}][finish-time{{step}}]'
                       id='finish-time{{step}}'
                       type='text'
                       readonly
                       value={{ parsedTask.endTime }}>
            </div>
        </div>

        {# Field description #}
        <div class="form-row py-1 px-0">
            <div class="col-3">
                <b class="float-left">
                    Row {{csvRow}} => {{parsedTask['descriptionTitle']}}:
                </b>
            </div>
            <div class="col-8">
                <div class="text-wrap text-left" style="width:28rem;">
                    &nbsp {{parsedTask.descriptionText}}
                </div>
            </div>
        </div>

        {# Create select with tmetric members #}
        <div class="form-row py-1">
            <div class="col-3">
                <p class='selection-users float-left'>
                    <u>
                        SELECT &nbsp USER
                    </u>
                </p>
            </div>

            <div class="col-3">
                    <input list='users'
                           id='select-user{{ step }}'
                           name='select-user{{ step }}'
                           class='{{step}}'
                           onchange='changeOptions()'
                           type='text'
                           autocomplete='off'>
                    <datalist id='users'>
                        {% set m = 1 %}
                        {% for key, member in twigArrays.userMembers %}
                        {% set memberName = key %}
                        <option name='member{{ m }}'
                                id='member{{ m }}'
                                class='member{{ m }}'>{{ memberName }}
                            {% set m = m + 1 %}
                            {% endfor %}
                        </option>
                    </datalist>
            </div>
        </div>

    </fieldset>

{% set step = step + 1 %}

    {% endif %}
    {% endfor %}
</form>
</div>

{% endif %}
{% endif %}

<!--Include js to watching for durations changing-->
<script src="/js/tmetric.js"></script>

<script>
    // Добавление класса checkboxes:
    $('input:checkbox').click(function(){
        if ($(this).is(':checked')) {
            $(this).parent().removeClass('red');
        } else {
            $(this).parent().addClass('red');
        }
    });
</script>

</body>
</html>